[Desktop Entry]
Name=sidux 2009-02 "Aether" Wallpaper
Name[x-test]=xxsidux 2009-02 "Aether" Wallpapexx
X-KDE-PluginInfo-Name=sidux_200902_aether_wallpaper
X-KDE-PluginInfo-Author=sidux Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=LGPLv2
